@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img.card-image-custom {
  width: 286px !important;
  height: 189.88px !important;
}

img.testimonials {
  width: 192px !important;
  height: 192px !important;
}

.list-group-item:hover {
  background-color: whitesmoke;
}

.horizontal-scroll-view {
  display: flex;
  /* displays flex-items (children) inline */
  overflow-x: scroll;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.horizontal-scroll-view > div {
  flex: 0 0 25%;
  /* doesn’t grow nor shrink, initial width set to 25% of the parent’s */
}

nav li a.active {
  /* color: rgba(20, 40, 150, 100) !important */
  color: black !important;
}

.custom-link:hover {
  color: purple;
  text-decoration: none;
}

.form-control {
  width: 70%;
  margin: auto;
}

.navigation {
  margin-top: 4rem;
}

.mt-2em {
  margin-top: 2em;
}

.form-bg {
  background-color: #f4f6f8;
}

.ptb-1em {
  padding: 1em 0em 1em 0em;
}

.signup-container {
  min-width: 400px;
  max-width: 600px;
}

.social-btn {
  margin-right: 1em;
}

.fa-facebook,
.fa-google {
  color: white !important;
  padding: 0.2em !important;
}

img.card-image-custom {
  width: 286px !important;
  height: 189.88px !important;
}

img.testimonials {
  width: 192px !important;
  height: 192px !important;
}

.list-group-item:hover {
  background-color: whitesmoke;
}

.horizontal-scroll-view {
  display: flex;
  /* displays flex-items (children) inline */
  overflow-x: scroll;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.horizontal-scroll-view > div {
  flex: 0 0 25%;
  /* doesn't grow nor shrink, initial width set to 25% of the parent's */
}

nav li a.active {
  /* color: rgba(20, 40, 150, 100) !important */
  color: black !important;
}

.custom-link:hover {
  color: purple;
  text-decoration: none;
}

.form-control {
  width: 70%;
  margin: auto;
}

.navigation {
  margin-top: 4rem;
}

.mt-2em {
  margin-top: 2em;
}

.form-bg {
  background-color: #f4f6f8;
}

.ptb-1em {
  padding: 1em 0em 1em 0em;
}

.signup-container {
  min-width: 400px;
  max-width: 600px;
}

.fa-facebook,
.fa-google {
  color: white;
  padding: 0.2em;
}

.social-btn {
  margin-right: 1em;
}

img.card-image-custom {
  width: 286px !important;
  height: 189.88px !important;
}

img.testimonials {
  width: 192px !important;
  height: 192px !important;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.horizontal-scroll-view {
  display: flex;
  /* displays flex-items (children) inline */
  overflow-x: scroll;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.horizontal-scroll-view > div {
  flex: 0 0 25%;
  /* doesn't grow nor shrink, initial width set to 25% of the parent's */
}

nav li a.active {
  /* color: rgba(20, 40, 150, 100) !important */
  color: black !important;
}

.custom-link:hover {
  color: purple;
  text-decoration: none;
}

.form-control {
  width: 70%;
  margin: auto;
}

.navigation {
  margin-top: 4rem;
}

.mt-2em {
  margin-top: 2em;
}

.form-bg {
  background-color: #f4f6f8;
}

.ptb-1em {
  padding: 1em 0em 1em 0em;
}

.signup-container {
  min-width: 400px;
  max-width: 600px;
}

.fa-facebook,
.fa-google {
  color: white;
  padding: 0.2em;
}

.social-btn {
  margin-right: 1em;
}

.home-banner {
  background-image: url(./assets/images/books.jpg);
  max-height: 15em;
}

.dashboard-banner {
  background-image: url(./assets/images/land.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-card {
  width: 18rem;
}

.horizontal-scroll-view > div {
  flex: 0 0 25%;
  width: 18rem;
}

.horizontal-scroll-view > div {
  width: 18rem;
}

.horizontal-scroll-view > div {
  flex: 0 0 25%;
}

.custom-link:hover {
  color: purple;
  text-decoration: none;
}

.avatar {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: text-bottom;
}

.name-field {
  line-height: 1rem;
  vertical-align: baseline;
}

/* TextArea */
.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
}

.avatar {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: text-bottom;
}

.name-field {
  line-height: 1rem;
  vertical-align: baseline;
}

a.article-title {
  color: black;
  text-decoration: none;
}

a.article-title:hover {
  color: grey;
}
.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}
.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}

button {
  background-color: inherit;
}

button:hover {
  cursor: pointer;
  background-color: inherit;
}

.fav-div {
  text-align: center;
}

.reaction-row{
  margin-top: 3em;
  vertical-align: middle;
}

.favourite-icon {
}

.center-item {
  margin: 0 auto;
}

.favorite-icon {
  font-size: 150%;
  color: red;
}

.unfavorite-icon {
  font-size: 150%;
  color: rgb(200, 200, 200);
}

.favorite-btn {
  border: 0 #ffff;
}

.favorite-btn:active,
.favorite-btn:focus {
  border: 0 #ffff;
}

.favorite-alert {
  margin: 0 auto;
  padding: 2px;
  color: maroon;
}

.article-body {
  font-family: 'Noto Serif JP', 'Noto Serif KR', sans-serif;
  font-size: 16px;
}

.my-article {
  background-color: #e9ecef;
  padding: 2em;
  border-radius: 0.3em;
  margin-bottom: 1.5em;
}


/*COMMENTS STYLES*/

.comments-section{
  background-color: azure;
}

.comment-table{
  font-family: 'PT Sans', sans-serif;
}

.comment-table li ul {
  font-size: 12px;
}

.comment-option{
  font-size: 11px;
  text-decoration: none;
  color: lightseagreen;
}

.avatar-col{
  width: 5em;
}

.comment-name{
  font-size: 12px;
}

.comment-col{
  width: 80%;
  font-size: 12px;
}

.options-col{
  text-align: right;
  padding-right: 0;
  margin-right: 0;
  width: 5em;
}

.comment-img{
  padding: 0;
  margin: 0 auto;
  max-height: 3rem;
  max-width: 3rem;
}

.reaction-count{
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}

.comments-title{
  margin-top: 2em;
  font-size: 2em;
  font-family: cursive;
  text-align: center;
}


